{% extends 'general/base.html' %}
{% load static %}
{% block title %}Diet Details{% endblock %}
{% block diets %}active{% endblock %}
{% block content %}
<div class="container-fluid">
	<h3 class="text-dark mb-4">Diet Details</h3>
	<div class="row mb-3">
		<div class="col-lg-4">
			<div class="card mb-3">
				<div class="card-body text-center shadow"><img class="mb-3 mt-4" src="{% static '/img/Cabbage.jpg' %}" style="max-height: 216px;max-width: 385px;width: 100%;height: 100%;"></div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="row">
				<div class="col">
					<div style="height: 70px;box-shadow: 6px 6px 4px #e5e5e5;margin-bottom: 3%;display: flex;align-items: center;padding: 3%;border-radius: 10px;background-color: white;width: 100%;font-family: 'Merriweather Sans', sans-serif;border: 1px solid #f2f2f2;"><span style="padding-left: 1%;width: 95%;font-family: 'Josefin Sans', sans-serif;text-align: left;border-style: none;border-bottom-style: none;font-size: 22px;color: #242e37;">{{ diet.name }}</span><i class="fa fa-check" style="margin-left: 2%;margin-right: 2%;font-size: 31px;"></i></div>
					<div style="height: 70px;box-shadow: 6px 6px 4px #e5e5e5;margin-bottom: 3%;display: flex;align-items: center;padding: 3%;border-radius: 10px;background-color: white;width: 100%;font-family: 'Merriweather Sans', sans-serif;border: 1px solid #f2f2f2;"><span style="padding-left: 1%;width: 95%;font-family: 'Josefin Sans', sans-serif;text-align: left;border-style: none;border-bottom-style: none;font-size: 22px;color: #242e37;">{{ diet.author.username }}</span><i class="fa fa-user-circle-o" style="margin-left: 2%;margin-right: 2%;font-size: 31px;"></i></div>
					<div style="height: 70px;box-shadow: 6px 6px 4px #e5e5e5;margin-bottom: 3%;display: flex;align-items: center;padding: 3%;border-radius: 10px;background-color: white;width: 100%;font-family: 'Merriweather Sans', sans-serif;border: 1px solid #f2f2f2;"><span style="padding-left: 1%;width: 95%;font-family: 'Josefin Sans', sans-serif;text-align: left;border-style: none;border-bottom-style: none;font-size: 22px;color: #242e37;">{{ diet.description }}</span><i class="fa fa-file-text" style="margin-left: 2%;margin-right: 2%;font-size: 31px;"></i></div>
					<div style="height: 70px;box-shadow: 6px 6px 4px #e5e5e5;margin-bottom: 3%;display: flex;align-items: center;padding: 3%;border-radius: 10px;background-color: white;width: 100%;font-family: 'Merriweather Sans', sans-serif;border: 1px solid #f2f2f2;"><span style="padding-left: 1%;width: 95%;font-family: 'Josefin Sans', sans-serif;text-align: left;border-style: none;border-bottom-style: none;font-size: 22px;color: #242e37;">{{ diet.days.all | length }} Days</span><i class="fa fa-calendar" style="margin-left: 2%;margin-right: 2%;font-size: 31px;"></i></div>
					<div class="text-center" style="margin-top: 3%;"><a class="btn btn-primary" href="{{ diet.get_import_url }}" style="margin-bottom: 3%;background-color: #90c6c6;border-radius: 10px;min-width: 30%;font-family: Lato, sans-serif;font-size: 22px;border: 3px hidden rgb(255, 255, 255);">Import this diet</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
