{% extends 'general/base.html' %}
{% load static %}
{% block title %}My Day{% endblock %}
{% block day %}active{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="d-sm-flex justify-content-between align-items-center mb-4">
		<h3 class="text-dark mb-0" style="font-family: Alata, sans-serif;">My day</h3>
	</div>
</div>
<div class="container" style="max-width: 100%;">
	<div class="section" style="padding-bottom: 3rem;display: flex;justify-content: center;">
		<a class="page-link" href="#" style="color: var(--head);border: none;" onclick="removeDay()"><span style="font-size: x-large;">«</span></a>
		<input class="text-muted" onchange="date_changed()" name="date" required="" id="id_date" type="date" style="width: 12rem;padding: 0.5rem;font-family: 'Alata';font-size: 18px;outline: none;background-color: white;border: none;" />
		<a class="page-link" href="#" style="color: var(--head);border: none;" onclick="addDay()"><span style="font-size: x-large;">»</span></a>
	</div>
	<div class="row">
		<div class="col-md-4" style="padding: 1%;background-color: var(--bg;">
			<div class="card" style="border: none;">
				<div class="card-body">
					<h4 class="card-title" style="font-family: Alata, sans-serif;">Editor</h4>
					<h6 class="text-muted card-subtitle mb-2" style="font-family: Cabin, sans-serif;">This is your day editor.&nbsp;You can add meals to your day and also rearrange them to your needs, search below to add meals to your collection!</h6>
				</div>
			</div>
			<div>
				<div style="height: 70px;margin-bottom: 3%;display: flex;align-items: center;background-color: white;width: 100%;font-family: 'Merriweather Sans', sans-serif;"><input onkeyup="searchKeyUp()" onkeydown="searchKeyDown()" type="text" class="text-muted" placeholder="Search for recipes" style="margin-left: 6%;width: 78%;text-align: left;border-style: none;border-bottom-style: none;font-size: 20px;font-family: Alata, sans-serif;">
					<div></div><i class="fa fa-search" style="color: #6c757d!important;margin-left: 2%;margin-right: 2%;font-size: 200%;"></i>
				</div>
				<div id="search-content" style="width: 95%;position: absolute;">
				</div>
			</div>
		</div>
		<div class="col-md-8 text-center" id="meal__box">
			<div class="meal">
				<div class="meal__name__div" style="justify-content: center;display: flex;"><small class="meal__meal_name">Breakfast</small></div>
			</div>
			<div class="meal">
				<div class="meal__name__div" style="justify-content: center;display: flex;"><small class="meal__meal_name">Lunch</small></div>
			</div>
			<div class="meal">
				<div class="meal__name__div" style="justify-content: center;display: flex;"><small class="meal__meal_name">Supper</small></div>
			</div>
			<div class="meal">
				<div class="meal__name__div" style="justify-content: center;display: flex;"><small class="meal__meal_name">Dinner</small></div>
			</div>
			<div class="meal">
				<div class="meal__name__div" style="justify-content: center;display: flex;"><small class="meal__meal_name">Snack</small></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}<script src="{% static '/js/day/create.js' %}"></script>{% endblock %}
