{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="icon" href="{% static '/img/favicon.ico' %}">
		<title>Register - SpareSnack</title>
		<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:400,700">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static '/fonts/fontawesome5-overrides.min.css' %}">
		<link rel="stylesheet" href="{% static '/css/first.css' %}">
	</head>
	<body class="bg-gradient-primary" style="background-image: linear-gradient(180deg, var(--bg1) 10%, var(--vector__tertiary));background-color: var(--bg1);">
		<div class="container">
			<div class="card shadow-lg o-hidden border-0 my-5">
				<div class="card-body p-0">
					<div class="row">
						<div class="col-lg-5 d-none d-lg-flex">
							<div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;{% static '/img/register.jpg' %}&quot;);"></div>
						</div>
						<div class="col-lg-7">
							<div class="p-5">
								<div class="text-center">
									<h4 class="text-dark mb-4">Create an Account!</h4>
								</div>
								<form class="user" method="POST">
									{% csrf_token %}
									<div class="form-group row" style="width: 100%;"><input class="form-control form-control-user" type="text" id="id_username" placeholder="Username" autocomplete="username" name="username" maxlength="150" autocapitalize="none" autofocus="" required=""></div>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="id_password1" name="password1" autocomplete="new-password" placeholder="Type password"></div>
										<div class="col-sm-6"><input class="form-control form-control-user" type="password" id="id_password2" placeholder="Repeat Password" name="password2" autocomplete="new-password"></div>
									</div><button class="btn btn-primary btn-block text-white btn-user" type="submit" style="background-color: var(--btn);border-color: var(--btn);">Register Account</button>
									<hr>
									<hr>
								</form>
								<div class="text-center"></div>
								<div class="text-center"><a class="small" href="{% url 'account_login' %}">Already have an account? Login!</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
		<script src="assets/js/theme.js"></script>
	</body>
</html>
